## Merging dataframes

A primary key and a foreign key are two important concepts that define the **relationships** between dataframes.

### Primary Key:
A primary key is a **unique identifier** for each row in a table. It ensures that *every row in the table can be uniquely identified using its primary key value*. In pandas DataFrames, the primary key is a column or a combination of columns that have unique values for each row and do not contain any null values. The primary key is used to  establish relationships with other tables (dataframes) through foreign keys.

For example, in a DataFrame representing a list of students in a school, the "Student ID" column could serve as a primary key since each student has a unique ID, and no two students share the same ID.

### Foreign Key:
A foreign key is a column or a group of columns in a table that refers to the primary key of another table. It establishes a link between two tables, creating a relationship between them. The foreign key in one table helps to identify and access the corresponding rows in another related table.

In [13]:
import pandas as pd

# Create the Students DataFrame
students_data = {
    'Student_ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [20, 22, 21, 19, 23]
}

students_df = pd.DataFrame(students_data)
print(students_df)

   Student_ID     Name  Age
0           1    Alice   20
1           2      Bob   22
2           3  Charlie   21
3           4    David   19
4           5      Eve   23

In [14]:
# Create the Course Enrollments DataFrame
enrollments_data = {
    'Student_ID': [1, 2, 1, 3, 4, 5],
    'Course_Name': ['Math', 'Science', 'History', 'English', 'Computer Science', "Statistics"],
    'Enrollment_ID': [101, 102, 103, 104, 105, 106]
}

enrollments_df = pd.DataFrame(enrollments_data)
print(enrollments_df)

   Student_ID       Course_Name  Enrollment_ID
0           1              Math            101
1           2           Science            102
2           1           History            103
3           3           English            104
4           4  Computer Science            105
5           5        Statistics            106

## *How to check whether the "student_ID" is a primary key in the "students_df"?*

The column or group of columns must satisfy the two conditions in order to act as a primary key

- **There must not be any missing value in the column (or group of columns).**
- **The number of unique values in the column (or group of columns) must be equal to total number of rows in the dataframe.**

In [4]:
# Check for null values: The column having missing values (NaN) cannot be a primary key
students_df["Student_ID"].notnull().all()

True

In [5]:
# Check for uniqueness
students_df["Student_ID"].nunique() == len(students_df)

True

## *How to check whether the Student_ID is a foreign key in enrollments_df?*

The column or group of columns must satisfy the three conditions in order to act as a foreign key

- **There must not be any missing value in the column (or group of columns).**
- **All the values in the foreign key column of one dataframe must exist in the primary key column of the other dataframe.**
- **The number of unique values in the foreign key column of one dataframe must be equal to the total number of rows of the other dataframe.**

In [15]:
enrollments_df["Student_ID"].notnull().all()

True

In [17]:
## Check if all values in the foreign key column exist in the primary key column of the students DataFrame
enrollments_df["Student_ID"].isin(students_df["Student_ID"]).all()

True

In [10]:
enrollments_df["Student_ID"].nunique() == len(students_df["Student_ID"])

True

# *Primary key and foreign key is a group of column**

In [18]:
# Create the Country Statistics DataFrame
country_stats_data = {
    'Country': ['USA', 'USA', 'Canada', 'Canada', 'India', 'India'],
    'Year': [2020, 2021, 2020, 2021, 2020, 2021],
    'GDP': [21.43, 22.67, 1.64, 1.73, 2.60, 2.87],
    'Population': [331, 334, 38, 39, 1.38, 1.40]
}

country_stats_df = pd.DataFrame(country_stats_data)
print(country_stats_df)

  Country  Year    GDP  Population
0     USA  2020  21.43      331.00
1     USA  2021  22.67      334.00
2  Canada  2020   1.64       38.00
3  Canada  2021   1.73       39.00
4   India  2020   2.60        1.38
5   India  2021   2.87        1.40

In [19]:
# Create the Events DataFrame
events_data = {
    'Event ID': [101, 102, 103, 104, 105, 106],
    'Country': ['USA', 'Canada', 'India', 'USA', 'Canada', 'USA' ],
    'Year': [2021, 2020, 2021, 2020, 2021, 2020],
    'Event Name': ['Election', 'Expo', 'Festival', "A", "B","Tech year"]
}

events_df = pd.DataFrame(events_data)
print(events_df)

   Event ID Country  Year Event Name
0       101     USA  2021   Election
1       102  Canada  2020       Expo
2       103   India  2021   Festival
3       104     USA  2020          A
4       105  Canada  2021          B
5       106     USA  2020  Tech year

## *How to check whether the group of columns (Country, year) is a primary key in country_stats_df?*

In [20]:
## How to check whether the composite key is a primary key in country_stats_df?
country_stats_df[["Country","Year"]].duplicated().sum() == 0

True

In [30]:
## There should not be any null value in the composite key
country_stats_df[["Country","Year"]].notnull().all(axis = 1).all()

True

## *How to check whether the group of columns (Country, year) in events_df is a foreign key for country_stats_df?*

In [21]:
## There should not be any null value in the composite key
events_df[["Country","Year"]].notnull().all(axis = 1).all()

True

In [45]:
## The unique values of the group of columns in one dataframe must be equal to the unique values of the same group of columns in other dataset.
sum(~events_df[["Country","Year"]].duplicated()) == sum(~country_stats_df[["Country" , "Year"]].duplicated())

False

In [51]:
list_of_tuples_country_Stats_df = [(x, y) for x, y in zip(country_stats_df["Country"], country_stats_df["Year"])]
list_of_tuples_country_Stats_df

[('USA', 2020),
 ('USA', 2021),
 ('Canada', 2020),
 ('Canada', 2021),
 ('India', 2020),
 ('India', 2021)]

In [52]:
list_of_tuples_events_df = [(x, y) for x, y in zip(events_df["Country"], events_df["Year"])]
list_of_tuples_events_df

[('USA', 2021),
 ('Canada', 2020),
 ('India', 2021),
 ('USA', 2020),
 ('Canada', 2021),
 ('USA', 2020)]

In [63]:
for country_stats_tuple in list_of_tuples_country_Stats_df:
    if country_stats_tuple in list_of_tuples_events_df:
        print("Tuple exist")
    else:
        print("Tuple doesnot exist")

Tuple exist
Tuple exist
Tuple exist
Tuple exist
Tuple doesnot exist
Tuple exist

# **Different types of Merges**

The merge() function is used to combine two DataFrames based on a common column or index. The merge() function is all about adding variables from one dataframe to aonther dataframe. The merge() function provides several types of merges, which determine how the DataFrames are combined and which rows are included in the resulting merged DataFrame.

**Inner Merge:**
An inner merge (or inner join) combines rows from both DataFrames that have matching values in the specified columns. The resulting DataFrame contains only the rows with common keys in both DataFrames. Rows with non-matching keys are excluded from the final result.

**Left Merge:**
A left merge (or left join) includes all rows from the left DataFrame and the **matching rows** from the right DataFrame. If there are no matches in the right DataFrame, the missing values are filled with NaN (Not a Number) in the result.

**Right Merge:**
A right merge (or right join) is similar to the left merge but includes all rows from the right DataFrame and the **matching rows** from the left DataFrame. If there are no matches in the left DataFrame, the missing values are filled with NaN in the result.

**Outer Merge:**
An outer merge (or outer join) includes all rows from both DataFrames and fills in NaN for non-matching rows. The resulting DataFrame will have all the rows from both DataFrames, and any missing values will be filled with NaN.

In [22]:
left_data = {
    'Key': ['A', 'B', 'C', 'D'],
    'Value_left': [10, 20, 30, 40]
}

left_df = pd.DataFrame(left_data)
print(left_df)

  Key  Value_left
0   A          10
1   B          20
2   C          30
3   D          40

In [23]:
right_data = {
    'Key': ['B', 'C', 'E', 'F'],
    'Value_right': [200, 300, 500, 600]
}

right_df = pd.DataFrame(right_data)
print(right_df)

  Key  Value_right
0   B          200
1   C          300
2   E          500
3   F          600

### Inner merge

In [24]:
result_inner = pd.merge(left_df, right_df, on='Key', how='inner')
print(result_inner)

  Key  Value_left  Value_right
0   B          20          200
1   C          30          300

### Outer merge

In [24]:
result_outer = pd.merge(left_df, right_df, on='Key', how='outer')
print(result_outer)

  Key  Value_left  Value_right
0   A        10.0          NaN
1   B        20.0        200.0
2   C        30.0        300.0
3   D        40.0          NaN
4   E         NaN        500.0
5   F         NaN        600.0

### Right merge

In [33]:
result_right = pd.merge(left_df, right_df, on='Key', how='right')
print(result_right)

  Key  Value_left  Value_right
0   B        20.0          200
1   C        30.0          300
2   E         NaN          500
3   F         NaN          600

### Left merge

In [34]:
result_left = pd.merge(left_df, right_df, on='Key', how='left')
print(result_left)

  Key  Value_left  Value_right
0   A          10          NaN
1   B          20        200.0
2   C          30        300.0
3   D          40          NaN

## Concatenation of dataframes horizontally or vertically

It simply combines DataFrames along a particular axis.

In [35]:
result_concat = pd.concat([left_df, right_df], axis=0) ## vertical stacking
print(result_concat)

  Key  Value_left  Value_right
0   A        10.0          NaN
1   B        20.0          NaN
2   C        30.0          NaN
3   D        40.0          NaN
0   B         NaN        200.0
1   C         NaN        300.0
2   E         NaN        500.0
3   F         NaN        600.0

In [62]:
result_concat = pd.concat([left_df, right_df], axis=1) ## horizontal stacking
print(result_concat)

  Key  Value_left Key  Value_right
0   A          10   B          200
1   B          20   C          300
2   C          30   E          500
3   D          40   F          600

In [25]:
import pandas as pd

In [26]:
gapminder = pd.read_csv("gap_minder.csv")

## Missing values
Handling missing values is an essential aspect of data cleaning and analysis in pandas. Missing values are typically represented as NaN (Not a Number) in pandas.

In [31]:
import numpy as np

# Create a DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, np.nan]
}

df = pd.DataFrame(data)
print(df)

     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN

In [38]:
## Check for Missing Values:
# Check if any value is missing in the DataFrame
print(df.isnull())

# Count the number of missing values in each column
print(df.isnull().sum())

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True
A    1
B    1
C    1
dtype: int64

In [39]:
## Drop Missing Values:

# Drop rows with any missing values
df_dropped = df.dropna()
print(df_dropped)

# Drop columns with any missing values
df_dropped_cols = df.dropna(axis=1)
print(df_dropped_cols)

     A    B    C
0  1.0  5.0  9.0
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [40]:
## Fill Missing Values:

# Fill missing values with a specific value (e.g., 0)
df_filled = df.fillna(0)
print(df_filled)

# Fill missing values with mean of the column
df_filled_mean = df.fillna(df.mean())
print(df_filled_mean)

     A    B     C
0  1.0  5.0   9.0
1  2.0  0.0  10.0
2  0.0  7.0  11.0
3  4.0  8.0   0.0
          A         B     C
0  1.000000  5.000000   9.0
1  2.000000  6.666667  10.0
2  2.333333  7.000000  11.0
3  4.000000  8.000000  10.0